.divNavBar {
    color: brown;
    background-color: brown;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 7ch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

a {
    color:darkred;
}

a:hover {
    color:red;
}

.buttonEsquerda {
    color:red;
}

.buttonMeio {
    color:blue
}

.buttonDireita {
    color:green
}