html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-Image: url('../assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.toppage {
    margin-top: 25ch;
  }